<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="Department"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->
<!-- <ngx-loading
  [show]="loading"
  [config]="{
    animationType: ngxLoadingAnimationTypes.circle,
    primaryColour: primaryColour,
    secondaryColour: secondaryColour,
    backdropBorderRadius: '3px'
  }"
  [template]="customLoadingTemplate"
></ngx-loading>
<ng-template #customLoadingTemplate>
  <div class="custom-class">
    <h3>Loading...</h3>
  </div>
</ng-template> -->

<!-- Main department -->
<div class="card">
  <div class="card-header">
    <h4 class="card-title mb-0 flex-grow-1">List Data department</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- Filtering Table Data -->
      <div class="col-md-6">
        <div class="search-box">
          <input
            type="text"
            class="form-control search"
            placeholder="Search..."
            [(ngModel)]="searchTerm"
            (input)="onSearch()"
          />
          <i class="ri-search-line search-icon"></i>
        </div>
      </div>
      <div class="col-md-6">
        <div style="float: right">
          <span style="margin-right: 4px">Show</span>
          <select
            class="data rounded-3"
            id="pageSizeDropdown"
            [(ngModel)]="pageSize"
            (change)="onPageSizeChange()"
          >
            <option value="1">1</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          <span style="margin-left: 4px">Data</span>
        </div>
      </div>
      <!-- End Filtering Table Data -->
      <div class="col-12 mt-3">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="onAction('add', '')"
        >
          <span class="ri-add-circle-line"></span> Add Data
        </button>
      </div>
    </div>

    <div class="row mt-3">
      <!-- Table Data -->
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col" class="text-center" (click)="onSort('no')">
                No
                <span [class]="getSortIcon('no')"></span>
              </th>
              <th scope="col" (click)="onSort('code_department')">
                Code
                <span [class]="getSortIcon('code_department')"></span>
              </th>
              <th scope="col" (click)="onSort('department')">
                Department
                <span [class]="getSortIcon('department')"></span>
              </th>
              <th scope="col" (click)="onSort('created_by')">
                Created by
                <span [class]="getSortIcon('created_by')"></span>
              </th>
              <th scope="col" (click)="onSort('updated_at')">
                Update at
                <span [class]="getSortIcon('updated_at')"></span>
              </th>
              <th scope="col" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- Loop Data -->
            <ng-container *ngIf="filteredData && filteredData.length > 0; else noData">
              <tr
                *ngFor="let data of filteredData.slice((page - 1) * pageSize, page * pageSize); let i = index"
              >
                <td class="text-center">{{ (page - 1) * pageSize + i + 1 }}</td>
                <td>{{ data?.code_department }}</td>
                <td>{{ data?.department || '-' }}</td>
                <td>{{ data?.created_by || '-' }}</td>
                <td>{{ data?.updated_at || '-' }}</td>
                <td class="text-center">
                  <div class="hstack gap-2 justify-content-center">
                    <button
                      class="btn btn-primary btn-icon waves-effect waves-light"
                      ngbTooltip="Edit department"
                      (click)="onAction('edit', data)"
                    >
                      <span class="ri-edit-fill"></span>
                    </button>
                    <button
                      class="btn btn-danger btn-icon waves-effect waves-light"
                      ngbTooltip="Delete department"
                      (click)="onDelete(data['id'])"
                    >
                      <span class="ri-delete-bin-5-line"></span>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
    
            <!-- No Data Template -->
            <ng-template #noData>
              <tr>
                <td colspan="6" class="text-center">No department data available.</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <!-- End Table Data -->
    
      <!-- Pagination -->
      <div class="row justify-content-md-between align-items-md-center">
        <div class="col col-sm-6">
          <div
            class="dataTables_info mb-2"
            id="tickets-table_info"
            role="status"
            aria-live="polite"
          >
            {{ getShowingText() }} of {{ totalRecords }} entries
          </div>
        </div>
        <div class="col col-sm-6">
          <div class="pagination justify-content-end">
            <ngb-pagination
              [collectionSize]="totalRecords"
              [(page)]="page"
              [pageSize]="pageSize"
              [maxSize]="3"
              [ellipses]="false"
              (pageChange)="onPageChange($event)"
            ></ngb-pagination>
          </div>
        </div>
      </div>
      <!-- End Pagination -->
    </div>
    
    
  </div>
</div>
<!-- End  Main department -->



<ng-template #modalForm let-modal>
  <div class="modal-header">
    <h4 class="modal-title w-100 text-center">{{ statusForm }} department</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formData" class="md-float-material" autocomplete="off">
      <div class="row">
        <!-- Code department Field -->
        <div class="form-group col-12">
          <label
            for="code_department"
            class="form-label"
            [ngClass]="{
              'text-danger': form['code_department'].touched && form['code_department'].invalid
            }"
          >
            Code department<span class="text-danger" *ngIf="form['code_department'].invalid">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            formControlName="code_department"
            placeholder="Enter Code department"
            [ngClass]="{
              'is-invalid': form['code_department'].touched && form['code_department'].invalid
            }"
          />
          <div *ngIf="form['code_department'].touched && form['code_department'].invalid" class="invalid-feedback">
            Code department is required and must be in uppercase.
          </div>
        </div>

        <!-- department Field -->
        <div class="form-group col-12 mt-2">
          <label
            for="department"
            class="form-label"
            [ngClass]="{
              'text-danger': form['department'].touched && form['department'].invalid
            }"
          >
            department<span class="text-danger" *ngIf="form['department'].invalid">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            formControlName="department"
            placeholder="Enter department Name"
            [ngClass]="{
              'is-invalid': form['department'].touched && form['department'].invalid
            }"
          />
          <div *ngIf="form['department'].touched && form['department'].invalid" class="invalid-feedback">
            department is required.
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="formData.invalid" (click)="onSubmit()">
      Submit
    </button>
  </div>
</ng-template>
