<!-- Start Breadcrumbs -->
<!-- <app-breadcrumbs title="DASHBOARD" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs> -->
<!-- End Breadcrumbs -->

<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent"
      >
        <h4 class="mb-sm-0">Dashboard</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Dashboards</a>
            </li>
            <li class="breadcrumb-item active">Projects</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row project-wrapper">
    <div class="col-xxl-12">
      <div class="row">
        <div class="col-xxl-3 col-sm-6">
          <div class="card card-animate">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <p class="fw-medium text-muted mb-0">New Appss Request</p>
                  <h2 class="mt-4 ff-secondary fw-semibold">
                    <span class="counter-value" data-target="234">3</span>
                  </h2>
                  <!-- <p class="mb-0 text-muted">
                    <span class="badge bg-light text-success mb-0">
                      <i class="ri-arrow-up-line align-middle"></i> 17.32
                      %</span
                    >
                    vs. previous month
                  </p> -->
                  <br />
                </div>
                <div>
                  <div class="avatar-sm flex-shrink-0">
                    <span
                      class="avatar-title bg-info-subtle text-info rounded-circle fs-4"
                    >
                      <i class="ri-group-line"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- end card body -->
          </div>
          <!-- end card-->
        </div>
        <!--end col-->
        <div class="col-xxl-3 col-sm-6">
          <div class="card card-animate">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <p class="fw-medium text-muted mb-0">Change Request</p>
                  <h2 class="mt-4 ff-secondary fw-semibold">
                    <span class="counter-value" data-target="64.5">8</span>
                  </h2>
                  <!-- <p class="mb-0 text-muted">
                    <span class="badge bg-light text-danger mb-0">
                      <i class="ri-arrow-down-line align-middle"></i> 0.87
                      %</span
                    >
                    vs. previous month
                  </p> -->
                  <br />
                </div>
                <div>
                  <div class="avatar-sm flex-shrink-0">
                    <span
                      class="avatar-title bg-warning-subtle text-warning rounded-circle fs-4"
                    >
                      <i class="mdi mdi-timer-sand"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- end card body -->
          </div>
        </div>
        <!--end col-->
        <div class="col-xxl-3 col-sm-6">
          <div class="card card-animate">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <p class="fw-medium text-muted mb-0">Apps Delivered</p>
                  <h2 class="mt-4 ff-secondary fw-semibold">
                    <span class="counter-value" data-target="116.21">3</span>
                  </h2>
                  <br />
                  <!-- <p class="mb-0 text-muted">
                    <span class="badge bg-light text-danger mb-0">
                      <i class="ri-arrow-down-line align-middle"></i> 3
                    </span>
                    vs. previous month
                  </p> -->
                </div>
                <div>
                  <div class="avatar-sm flex-shrink-0">
                    <span
                      class="avatar-title bg-success-subtle text-success rounded-circle fs-4"
                    >
                      <i class="ri-line-chart-line"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- end card body -->
          </div>
        </div>
        <!--end col-->
        <div class="col-xxl-3 col-sm-6">
          <div class="card card-animate">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <p class="fw-medium text-muted mb-0">Apps Pending</p>
                  <h2 class="mt-4 ff-secondary fw-semibold">
                    <span class="counter-value" data-target="14.84">1</span>
                  </h2>
                  <br />
                  <!-- <p class="mb-0 text-muted">
                    <span class="badge bg-light text-success mb-0">
                      <i class="ri-arrow-up-line align-middle"></i> 0.63 %
                    </span>
                    vs. previous month
                  </p> -->
                </div>
                <div>
                  <div class="avatar-sm flex-shrink-0">
                    <span
                      class="avatar-title bg-danger-subtle text-danger rounded-circle fs-4"
                    >
                      <i class="ri-history-fill"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- end card body -->
          </div>
        </div>
        <!--end col-->
      </div>
      <!-- end row -->

      <!-- end row -->
    </div>
    <!-- end col -->

    <!-- end col -->
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-xl-12">
      <div class="card card-height-100">
        <div class="card-header d-flex align-items-center">
          <h4 class="card-title flex-grow-1 mb-0">Active Projects</h4>
          <div class="flex-shrink-0">
            <a
              href="javascript:void(0);"
              class="btn btn-soft-info btn-sm material-shadow-none"
              >New Request</a
            >
          </div>
        </div>
        <!-- end cardheader -->
        <div class="card-body">
          <div class="table-responsive table-card">
            <table class="table table-nowrap table-centered align-middle">
              <thead class="bg-light text-muted">
                <tr>
                  <th scope="col">Apps Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Request Date</th>
                  <th scope="col">Progress</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                </tr>
                <!-- end tr -->
              </thead>
              <!-- thead -->

              <tbody>
                <tr>
                  <td class="fw-medium">IRIS Application</td>
                  <td>New Application Request</td>
                  <td class="text-muted">06 Sep 2021</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="flex-shrink-0 me-1 text-muted fs-13">90%</div>
                      <div class="progress progress-sm flex-grow-1">
                        <div
                          class="progress-bar bg-primary rounded"
                          role="progressbar"
                          style="width: 90%"
                          aria-valuenow="90"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                  </td>
                  <td>70.000.000</td>
                  <td class="text-muted">
                    <span class="badge bg-warning-subtle text-warning"
                      >URS
                    </span>
                  </td>
                </tr>
                <tr>
                  <td class="fw-medium">Marketing Coordinator</td>
                  <td>Marketing</td>
                  <td class="text-muted">17 Nov 2021</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="flex-shrink-0 me-1 text-muted fs-13">60%</div>
                      <div class="progress progress-sm flex-grow-1">
                        <div
                          class="progress-bar bg-warning rounded"
                          role="progressbar"
                          style="width: 60%"
                          aria-valuenow="60"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                  </td>
                  <td>15.000.000</td>
                  <td>
                    <span class="badge bg-warning-subtle text-warning"
                      >Inprogress</span
                    >
                  </td>
                </tr>
                <tr>
                  <td class="fw-medium">E-commerce Landing Page</td>
                  <td>Web Development</td>
                  <td class="text-muted">10 Dec 2021</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="flex-shrink-0 me-1 text-muted fs-13">30%</div>
                      <div class="progress progress-sm flex-grow-1">
                        <div
                          class="progress-bar bg-danger rounded"
                          role="progressbar"
                          style="width: 30%"
                          aria-valuenow="30"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                  </td>
                  <td>55.000.000</td>
                  <td>
                    <span class="badge bg-danger-subtle text-danger"
                      >Pending</span
                    >
                  </td>
                </tr>
                <tr>
                  <td class="fw-medium">UI/UX Design</td>
                  <td>Design</td>
                  <td class="text-muted">22 Dec 2021</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="flex-shrink-0 me-1 text-muted fs-13">75%</div>
                      <div class="progress progress-sm flex-grow-1">
                        <div
                          class="progress-bar bg-info rounded"
                          role="progressbar"
                          style="width: 75%"
                          aria-valuenow="75"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                  </td>
                  <td>100.000.000</td>
                  <td>
                    <span class="badge bg-info-subtle text-info"
                      >Inprogress</span
                    >
                  </td>
                </tr>
                <tr>
                  <td class="fw-medium">Projects Design</td>
                  <td>Design</td>
                  <td class="text-muted">31 Dec 2021</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="flex-shrink-0 me-1 text-muted fs-13">50%</div>
                      <div class="progress progress-sm flex-grow-1">
                        <div
                          class="progress-bar bg-warning rounded"
                          role="progressbar"
                          style="width: 50%"
                          aria-valuenow="50"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        ></div>
                      </div>
                    </div>
                  </td>
                  <td>20.000.000</td>
                  <td>
                    <span class="badge bg-warning-subtle text-warning"
                      >Inprogress</span
                    >
                  </td>
                </tr>
              </tbody>
              <!-- end tbody -->
            </table>
            <!-- end table -->
          </div>

          <div
            class="align-items-center mt-xl-3 mt-4 justify-content-between d-flex"
          >
            <div class="flex-shrink-0">
              <div class="text-muted">
                Showing <span class="fw-semibold">5</span> of
                <span class="fw-semibold">25</span> Results
              </div>
            </div>
            <ul class="pagination pagination-separated pagination-sm mb-0">
              <li class="page-item disabled">
                <a href="#" class="page-link">←</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">1</a>
              </li>
              <li class="page-item active">
                <a href="#" class="page-link">2</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">3</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">→</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
