.table th, .table td {
    border-left: none;  /* Menghilangkan border kiri */
    border-right: none; /* Menghilangkan border kanan */
  }
  

  .status-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    min-width: 100px;
    color: white;
  
    &.progress {
      background-color: #000000; // Kuning gelap
    }
  
    &.failed {
      background-color: #d9534f; // Merah gelap
    }
  
    &.done {
      background-color: #5bc0de; // Biru gelap
    }
  }
  