<div class="product-list">
    <div *ngFor="let product of products" class="product-item">
      <h3>{{ product.Product }}</h3>
      <p>Destination Country: {{ product.DestinationCountry }}</p>
      <p>Created By: {{ product.created_by }}</p>
      <p>Created Date: {{ product.created_date | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
  
      <div *ngIf="product.cover; else noImage">
        <img
          [src]="product.cover.path_image"
          alt="{{ product.Product }}"
          class="product-image"
        />
      </div>
      <ng-template #noImage>
        <p>No image available</p>
      </ng-template>
    </div>
  </div>
  