<div class="notfound-frame">
    <div class="notfound-container">
      <div class="speed-lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <img src="assets/images/Godoc-removebg-preview.png" alt="404 Image" class="floating-image" />
      <h1>404 - Page Not Found</h1>
      <p>Sorry, the page you are looking for does not exist or has been moved.</p>
      <a href="/" class="back-home">Go Back Home</a>
    </div>
  </div>
  